img {
  width: 100%;
}

.sent-msg {
  font-size: 16px;
  word-break: normal;
  word-wrap: break-word;
  /* overflow-wrap: break-word; */
  white-space: normal;
  line-height: 1.3;
  /* text-align: left !important; */
  /* line-height: 20px; */
}

.wrapper {
  /* height: 30px; */
}

.navbar-brand {
  font-weight: bold;
}

.log-in:hover {
  color: rgb(189, 189, 189);
}

.time {
  font-style: italic;
  /* font-size: 10px; */
  /* line-height: 30px;
  display: inline-block;
  vertical-align: middle; */
}

.user-name {
  /* line-height: 30px; */
  font-weight: bold;
  /* font-size: 12px; */
  /* display: inline-block;
  vertical-align: middle; */
}

.badge-secondary {
  /* background-color: #646464 !important */
}

@media screen and (max-width: 999px) {
  button {
    cursor: pointer;
  }
  .time {
    font-style: italic;
    font-size: 12px;
  }
  .user-name {
    font-size: 14px;
  }
  .alert {
    font-size: 12px;
    cursor: pointer;
  }
}