img {
  width: 100%;
}

.sent-msg {
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin-left: 5%;
  margin-right: 5%;
}

.wrapper {
  height: 30px;
}

.navbar-brand {
  font-weight: bold;
}

.log-in:hover {
  color: rgb(189, 189, 189);
}

.time {
  font-style: italic;
  /* font-size: 10px; */
  line-height: 0px;
  display: block;
  margin-bottom: 10px;
  vertical-align: middle;
}

.user-name {
  line-height: 30px;
  font-weight: bold;
  /* font-size: 12px; */
  display: block;
  position: absolute;
  margin-bottom: 10px;
  vertical-align: middle;
}

.badge-secondary {
  /* background-color: #646464 !important */
}

@media screen and (max-width: 999px) {
  button {
    cursor: pointer;
  }

  .sent-msg {
    font-size: 8px;
    line-height: 20px;
    position: relative;
    margin-left: 8%;
    margin-right: 8%;
    word-wrap: break-word;
  }

  .badge {
    font-size: 100% !important;
  }

  .time {
    font-style: italic;
    font-size: 10px;
    line-height: 0px;
    display: block;
    margin-bottom: 10px;
    vertical-align: middle;
  }

  .user-name {
    line-height: 30px;
    font-weight: bold;
    font-size: 10px;
    display: block;
    position: absolute;
    margin-bottom: 10px;
    vertical-align: middle;
  }

}